.book_appointment {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 20px 0;
    margin-bottom: 20px;
    h3, p {
        margin: 0.5rem;
    }
  }

  .MuiFormControl-root {
    margin: 2px !important;
  }

  .MuiSelect-select {
    color: var(--tg-theme-text-color) !important;
  }

  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}