.doctor_dashboard {
  padding: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 10px 10px;
    position: relative;

    .welcome_message {
      font-size: 1.5rem; // Adjust font size as needed
      font-weight: bold;
    }
  }

  .profile {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    align-items: center;

    .profile-img {
      height: 140px;
      min-width: 140px;
      border-radius: 50%;
      object-fit: cover;
    }

    .profile-name {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .profile-role {
      color: #9b9b9b;
      font-size: 0.9rem;
      margin: 8px;
    }

    .text-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .logout-button {
    margin-left: auto;
  }

  .centered-tabs {
    display: flex;
    justify-content: center;
  }
}
